.listaLibros{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.libroEnLista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(187, 82, 34);  
    /* background-color: rgb(149, 66, 27);     */
  
    margin: 10px;
    padding: 10px;
    width: 250px;
    -webkit-box-shadow: inset 20px 0px 5px 0px rgba(149,66,27,1);
    -moz-box-shadow: inset 20px 0px 5px 0px rgba(149,66,27,1);
    box-shadow: inset 20px 0px 5px 0px rgba(149,66,27,1);

    /* -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75); */

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    position: relative;

}
.libroEnLista div{
    width: 75%;
    text-align: center;
}
.libroEnLista .libroEnListaCoverImage img{
    width: 100%;
}
.libroEnLista button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: rgba(149,66,27,0);
}
.libroEnLista button img{
    width: 100%;
}
.libroEnLista .libroEnListaReturn{
    width: auto;
    position:absolute;
    left: 10px;
    top:10px;
}
.libroEnLista .libroEnListaPrestar{
    width: auto;
    position:absolute;
    right: 10px;
    top:10px;
}
.libroEnLista .libroEnListaEditar{
    width: auto;
    position:absolute;
    left: 10px;
    bottom:10px;
}
.libroEnLista .libroEnListaEliminar{
    width: auto;
    position:absolute;
    right: 10px;
    bottom:10px;
}